body {
    display: flex;
    flex-direction: column;
}

#buttons {
    display: flex;
}

#buttons #reset {
    width: 80px;
    height: 40px;
    background-color: white;
    box-shadow: 5px 5px;
    outline: none;
}

#buttons #size {
    width: 80px;
    height: 40px;
    background-color: white;
    box-shadow: 5px 5px;
    outline: none;
}

#container {
    display: grid;
    /*flex-wrap: wrap;*/
    grid-template-columns: repeat(var(--size),var(--widthp));
    margin-top: 25%;
    margin-bottom: 25%;
    margin-left: 25%;
    margin-right: 25%;

}

div.square {
    background-color: white;
    border: 1px solid black;
    box-sizing: border-box;
    width: auto;
    min-height: 20px;
    /*flex: var(--flex);*/

}

:root {
    --widthp:0%;
    --size:0;
}
