body {
    display: flex;
    flex-direction: column;
    height: 800px;
    overflow: hidden;
}

#buttons {
    display: flex;
}

#buttons #reset {
    width: 80px;
    height: 40px;
    background-color: white;
    box-shadow: 5px 5px;
    outline: none;
}

#buttons #size {
    width: 80px;
    height: 40px;
    background-color: white;
    box-shadow: 5px 5px;
    outline: none;
}

#container {
    display: grid;
    /*flex-wrap: wrap;*/
    grid-template-columns: repeat(var(--size),var(--widthp));
    justify-content: center;
    margin-top: 10%;
    max-height: 100%;
    overflow-y: scroll;

}

div.square {
    background-color: white;
    border: 1px solid black;
    box-sizing: border-box;
    height: 20px;
    /*flex: var(--flex);*/
    

}

:root {
    --widthp:0%;
    --size:0;
}
